* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 233;

  --bg-primary: hsl(var(--hue), 100%, 97%);
  --bg-secondary: hsl(var(--hue), 17%, 62%);
  --bg-terciary: hsl(var(--hue), 18%, 79%);
  --bg-quarta: hsl(var(--hue), 91%, 96%);

  --text-color-dark: hsl(274, 84%, 12%);
  --text-color-light: hsl(232, 17%, 35%);
  --text-color-white: hsla(0, 0%, 100%);

  --ff-body: 'Staatliches', cursive;
  --ff-secondary: 'Palanquin', sans-serif;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
  --fs-heading-sm: 2rem;
}
body {
  font-family: var(--ff-body);

  background-color: var(--bg-primary);

  font-size: var(--fs-body);
}

img {
  width: 100%;
  height: auto;
}

/* .container {
  width: 38rem;
  margin: 0 auto;
} */

header {
  background-color: var(--bg-secondary);

  display: grid;
  place-items: center;
}

.logo {
  padding: 3.2rem 0;
}

header .title {
  width: 100%;
  background-color: var(--bg-terciary);
  padding: 0.8rem;

  font-size: var(--fs-heading);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  color: var(--text-color-white);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  margin-bottom: 3rem;

  text-align: center;
}

.intro-header-desktop {
  display: none;

  font-family: var(--ff-secondary);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2rem;
  width: 26rem;
  color: #ffffff;

  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem 3.2rem 6rem;
}

main .text {
  font-family: var(--ff-secondary);
  font-size: var(--fs-heading-sm);
  font-weight: 400;
  line-height: 2rem;
  text-align: center;

  width: 31.5rem;
  padding-top: 3rem;

  color: var(--text-color-dark);
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.cards .card {
  position: relative;
}

.cards .card span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 11.2rem;

  font-size: var(--fs-heading-sm);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;

  color: var(--text-color-light);
  background-color: var(--bg-quarta);
  border-radius: 2rem;
}

.cards .card img {
  border-radius: 2rem;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 37.7rem;
    max-height: 72rem;
  }

  .intro-header-desktop {
    display: block;
  }

  .text {
    display: none;
  }

  .cards {
    display: grid;
    grid-template-areas:
      'A B'
      'A B'
      'C D';
  }

  .card:nth-child(1) {
    grid-area: A;
  }

  .card:nth-child(2) {
    grid-area: B;
  }

  .card:nth-child(3) {
    grid-area: A;
  }

  .card:nth-child(4) {
    grid-area: B;
  }

  .card:nth-child(5) {
    grid-area: C;
  }

  .card:nth-child(6) {
    grid-area: D;
  }
}

@media (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-areas:
      'A B A'
      'A B C'
      'C D C';
  }

  .card:nth-child(1) {
    grid-area: A;
  }

  .card:nth-child(2) {
    grid-area: B;
  }

  .card:nth-child(3) {
    grid-area: A;
  }

  .card:nth-child(4) {
    grid-area: B;
  }

  .card:nth-child(5) {
    grid-area: C;
  }

  .card:nth-child(6) {
    grid-area: D;
  }
}
